<!--hero banner-->
<section class="main_hero_banner innerPgae_banner">
    <div class="herobanner_img"><img src="~/images/slider_img/backyard-hibachi-hero-1.jpg" alt="" title="" /></div>
    <div class="herobanner_img"><img src="~/images/slider_img/backyard-hibachi-hero-2.jpg" alt="" title="" /></div>
    <div class="herobanner_img"><img src="~/images/slider_img/backyard-hibachi-hero-3.jpg" alt="" title="" /></div>
    <div class="banner_captions_upper">
        <h1><span>Backyard Hibachi</span> About us</h1>
    </div>
</section>
<!--end hero banner-->
<!--page container section-->
<section class="section_wrap">
	<div class="container">
		<!--
		<div class="section_title">
			<h2><span>POPULAR</span> DISHES</h2>
		</div> -->

		<p>
			Locally owned Food Truck Born and raised in Las Vegas, serving the community since 2018.
		</p>

		<p>Our butcher hand-picks all the best meats and vegetables that are grown locally.</p>

		<p>Catering parties are our specialty; we come to you, set up, and care for everything. All you need to do is enjoy the atmosphere and food, and we will take care of the rest. </p>

		<p>
			When we aren't catering, you can find us at various locations; opt in for our texting program to see where we are and where we will be; feel free to text us anytime if you would like us in your area.
		</p>
	</div>
</section>
<!--end page container section-->
<!--about information section-->
<section class="companyAbout_section">
	<div class="container">
		<div class="row">
			<div class="col-lg-7">
				<div class="companyInro_text">
					<span class="companyInro_caption">OUR RESTAURANT</span>
					<h2>Salmon, Shrimp, Steak, Chicken all served with rice and veggies!<h2>
				</div>
			</div>
		</div>
	</div>
</section>
<!--end about information section-->
