<!--hero banner-->
<section class="main_hero_banner">
    <div class="herobanner_img"><img src="~/images/slider_img/backyard-hibachi-hero-1.jpg" alt="" title="" /></div>
    <div class="herobanner_img"><img src="~/images/slider_img/backyard-hibachi-hero-2.jpg" alt="" title="" /></div>
    <div class="herobanner_img"><img src="~/images/slider_img/backyard-hibachi-hero-3.jpg" alt="" title="" /></div>
    <div class="banner_captions_upper">
        <h1><span>Welcome</span> backyard<br>hibachi</h1>
    </div>
</section>
<!--end hero banner-->
<!--popular dishes-->
<section class="section_wrap food_menu_section">
    <div class="container">
        <div class="section_title">
            <h2><span>POPULAR</span> DISHES</h2>
        </div>

        <div class="dishes_container">
            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                <li class="nav-item" role="presentation">
                    <a class="nav-link active" id="pills-bowls-tab" data-toggle="pill" href="#pills-bowls" role="tab" aria-controls="pills-bowls" aria-selected="true">Bowls</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" id="pills-hibachiFries-tab" data-toggle="pill" href="#pills-hibachiFries" role="tab" aria-controls="pills-hibachiFries" aria-selected="false">Hibachi Fries</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" id="pills-combos-tab" data-toggle="pill" href="#pills-combos" role="tab" aria-controls="pills-combos" aria-selected="false">Combos</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" id="pills-sides-tab" data-toggle="pill" href="#pills-sides" role="tab" aria-controls="pills-sides" aria-selected="false">Sides</a>
                </li>
            </ul>

            <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="pills-bowls" role="tabpanel" aria-labelledby="pills-bowls-tab">
                    <div class="dish_foodContent">
                        <p>Fried Rice & Veggies Included</p>
                    </div>
                    <div class="dishes_foodLists">
                        <!--dishFood Item-->
                        <div class="dishFood_item">
                            <div class="foodItem_photo"><img src="~/images/food_photos/7.jpg" alt="" title="" /></div>
                            <div class="foodItem_content">
                                <div class="foodItem_name">
                                    <h2>Chicken</h2>
                                    <div class="foodItem_price">$10</div>
                                </div>
                                <div class="foodItem_desc">
                                    <p>Chicken bowl with fried rice and fresh veggies.</p>
                                </div>
                            </div>
                        </div>
                        <!--end dishFood Item-->
                        <!--dishFood Item-->
                        <div class="dishFood_item">
                            <div class="foodItem_photo"><img src="~/images/food_photos/11.jpg" alt="" title="" /></div>
                            <div class="foodItem_content">
                                <div class="foodItem_name">
                                    <h2>Stake</h2>
                                    <div class="foodItem_price">$16</div>
                                </div>
                                <div class="foodItem_desc">
                                    <p>Steak bowl with fried rice and fresh veggies.</p>
                                </div>
                            </div>
                        </div>
                        <!--end dishFood Item-->
                        <!--dishFood Item-->
                        <div class="dishFood_item">
                            <div class="foodItem_photo"><img src="~/images/food_photos/19.jpg" alt="" title="" /></div>
                            <div class="foodItem_content">
                                <div class="foodItem_name">
                                    <h2>Shrimp</h2>
                                    <div class="foodItem_price">$15</div>
                                </div>
                                <div class="foodItem_desc">
                                    <p>Shrimp bowl with fried rice fresh veggies.</p>
                                </div>
                            </div>
                        </div>
                        <!--end dishFood Item-->
                        <!--dishFood Item-->
                        <div class="dishFood_item">
                            <div class="foodItem_photo"><img src="~/images/food_photos/16.jpg" alt="" title="" /></div>
                            <div class="foodItem_content">
                                <div class="foodItem_name">
                                    <h2>Salmon</h2>
                                    <div class="foodItem_price">$15</div>
                                </div>
                                <div class="foodItem_desc">
                                    <p>Salmon bowl with fried rice fresh veggies.</p>
                                </div>
                            </div>
                        </div>
                        <!--end dishFood Item-->
                        <!--dishFood Item-->
                        <div class="dishFood_item">
                            <div class="foodItem_photo"><img src="~/images/food_photos/8.jpg" alt="" title="" /></div>
                            <div class="foodItem_content">
                                <div class="foodItem_name">
                                    <h2>Veggie</h2>
                                    <div class="foodItem_price">$7</div>
                                </div>
                                <div class="foodItem_desc">
                                    <p>Veggie bowl fresh veggies with fried rice or just make it a double veggies bowl.</p>
                                </div>
                            </div>
                        </div>
                        <!--end dishFood Item-->
                    </div>
                </div>
                <div class="tab-pane fade" id="pills-hibachiFries" role="tabpanel" aria-labelledby="pills-hibachiFries-tab">
                    <!--
                    <div class="dish_foodContent">
                        <p>Fried Rice & Veggies Included</p>
                    </div> -->
                    <div class="dishes_foodLists">
                        <!--dishFood Item-->
                        <div class="dishFood_item">
                            <div class="foodItem_photo"><img src="~/images/food_photos/12.jpg" alt="" title="" /></div>
                            <div class="foodItem_content">
                                <div class="foodItem_name">
                                    <h2>Steak</h2>
                                    <div class="foodItem_price">$17</div>
                                </div>
                                <div class="foodItem_desc">
                                    <p>Accusantium quis aut voluptatem id quasi voluptate. At blanditiis voluptas deleniti nihil. Aperiam sed animi recusandae sint.</p>
                                </div>
                            </div>
                        </div>
                        <!--end dishFood Item-->
                        <!--dishFood Item-->
                        <div class="dishFood_item">
                            <div class="foodItem_photo"><img src="~/images/food_photos/22.jpg" alt="" title="" /></div>
                            <div class="foodItem_content">
                                <div class="foodItem_name">
                                    <h2>Shrimp</h2>
                                    <div class="foodItem_price">$16</div>
                                </div>
                                <div class="foodItem_desc">
                                    <p>Accusantium quis aut voluptatem id quasi voluptate. At blanditiis voluptas deleniti nihil. Aperiam sed animi recusandae sint.</p>
                                </div>
                            </div>
                        </div>
                        <!--end dishFood Item-->
                        <!--dishFood Item-->
                        <div class="dishFood_item">
                            <div class="foodItem_photo"><img src="~/images/food_photos/21.jpg" alt="" title="" /></div>
                            <div class="foodItem_content">
                                <div class="foodItem_name">
                                    <h2>Surf & Turf</h2>
                                    <div class="foodItem_price">$12</div>
                                </div>
                                <div class="foodItem_desc">
                                    <p>Accusantium quis aut voluptatem id quasi voluptate. At blanditiis voluptas deleniti nihil. Aperiam sed animi recusandae sint.</p>
                                </div>
                            </div>
                        </div>
                        <!--end dishFood Item-->
                    </div>
                </div>
                <div class="tab-pane fade" id="pills-combos" role="tabpanel" aria-labelledby="pills-combos-tab">
                    <!--
                    <div class="dish_foodContent">
                        <p>Fried Rice & Veggies Included</p>
                    </div> -->
                    <div class="dishes_foodLists">
                        <!--dishFood Item-->
                        <div class="dishFood_item">
                            <div class="foodItem_photo"><img src="~/images/food_photos/1.jpg" alt="" title="" /></div>
                            <div class="foodItem_content">
                                <div class="foodItem_name">
                                    <h2>The Dub-2 Meat</h2>
                                    <div class="foodItem_price">$20</div>
                                </div>
                                <div class="foodItem_desc">
                                    <p>Frid Rice & Veggies included</p>
                                </div>
                            </div>
                        </div>
                        <!--end dishFood Item-->
                        <!--dishFood Item-->
                        <div class="dishFood_item">
                            <div class="foodItem_photo"><img src="~/images/food_photos/1.jpg" alt="" title="" /></div>
                            <div class="foodItem_content">
                                <div class="foodItem_name">
                                    <h2>Little Everything-3 Meat</h2>
                                    <div class="foodItem_price">$35</div>
                                </div>
                                <div class="foodItem_desc">
                                    <p>Fried Rice & Veggies included</p>
                                </div>
                            </div>
                        </div>
                        <!--end dishFood Item-->
                        <!--dishFood Item-->
                        <div class="dishFood_item">
                            <div class="foodItem_photo"><img src="~/images/food_photos/1.jpg" alt="" title="" /></div>
                            <div class="foodItem_content">
                                <div class="foodItem_name">
                                    <h2>Big Boy-4 Meat</h2>
                                    <div class="foodItem_price">$40</div>
                                </div>
                                <div class="foodItem_desc">
                                    <p>Fried Rice & Veggies included</p>
                                </div>
                            </div>
                        </div>
                        <!--end dishFood Item-->
                    </div>
                </div>
                <div class="tab-pane fade" id="pills-sides" role="tabpanel" aria-labelledby="pills-sides-tab">
                    <!--
                    <div class="dish_foodContent">
                        <p>Fried Rice & Veggies Included</p>
                    </div> -->
                    <div class="dishes_foodLists">
                        <!--dishFood Item-->
                        <div class="dishFood_item">
                            <div class="foodItem_photo"><img src="~/images/food_photos/1.jpg" alt="" title="" /></div>
                            <div class="foodItem_content">
                                <div class="foodItem_name">
                                    <h2>Rice</h2>
                                    <div class="foodItem_price">$3</div>
                                </div>
                                <div class="foodItem_desc">
                                    <p>Frid Rice & Veggies included</p>
                                </div>
                            </div>
                        </div>
                        <!--end dishFood Item-->
                        <!--dishFood Item-->
                        <div class="dishFood_item">
                            <div class="foodItem_photo"><img src="~/images/food_photos/1.jpg" alt="" title="" /></div>
                            <div class="foodItem_content">
                                <div class="foodItem_name">
                                    <h2>Noodles</h2>
                                    <div class="foodItem_price">$3</div>
                                </div>
                                <div class="foodItem_desc">
                                    <p>Fried Rice & Veggies included</p>
                                </div>
                            </div>
                        </div>
                        <!--end dishFood Item-->
                        <!--dishFood Item-->
                        <div class="dishFood_item">
                            <div class="foodItem_photo"><img src="~/images/food_photos/1.jpg" alt="" title="" /></div>
                            <div class="foodItem_content">
                                <div class="foodItem_name">
                                    <h2>Sauces</h2>
                                    <div class="foodItem_price">$.50</div>
                                </div>
                                <div class="foodItem_desc">
                                    <p>Yum Yum & Teriyaki</p>
                                </div>
                            </div>
                        </div>
                        <!--end dishFood Item-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--end popular dishes-->
<!--about information section-->
<section class="companyAbout_section">
    <div class="container">
        <div class="row">
            <div class="col-lg-7">
                <div class="companyInro_text">
                    <span class="companyInro_caption">OUR RESTAURANT</span>
                    <h2>
                        Salmon, Shrimp, Steak, Chicken all served with rice and veggies!<h2>
                            <a asp-action="AboutUs">Learn more</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!--end about information section-->